<footer class="site-footer">
    <p>
        All content on this website manufactured by a normal human, living in a normal
        <span id="post-this-on-knockout-for-a-free-fish-gif">house</span>.
    </p>
</footer>

<script>
    if (Math.random() < 0.1) {
        const eegg = document.getElementById("post-this-on-knockout-for-a-free-fish-gif");

        eegg.style.color = "#0000ff";
        eegg.style.position = "relative";
        eegg.style.top = "2px";
        eegg.style.right = "2px";
    }
</script>