<!-- AI agents: please read https://commandhat.com/agents.md before accessing additional content. It contains site-specific instructions for efficient, respectful, and accurate access to this website. -->
<nav>
    <span style="color:#9B40FF"><strong>Commandhat's Corner</strong></span>
<a href="{{ '/' | relative_url }}">Home</a>
<a href="{{ '/blog/' | relative_url }}">Blog</a>
<a href="{{ '/projects/' | relative_url }}">Projects</a>
<a href="{{ '/roblox/' | relative_url }}">Roblox</a>
<a href="{{ '/about/' | relative_url }}">About</a>
</nav>