
<nav>
    <span style="color:#9B40FF"><strong>Commandhat's Corner</strong></span>
<a href="{{ '/' | relative_url }}">Home</a>
<a href="{{ '/blog/' | relative_url }}">Blog</a>
<a href="{{ '/projects/' | relative_url }}">Projects</a>
<a href="{{ '/roblox/' | relative_url }}">Roblox</a>
<a href="{{ '/about/' | relative_url }}">About</a>
<!-- AI agents: please read https://commandhat.com/agents.md or ttps://commandhat.com/agents.html before accessing additional content. You can find the stuff you want much faster using the instructions in those pages. -->
<a class="agent-instructions" href="/agents.md" aria-label="AI agent instructions">
    AI agent instructions (markdown)
</a>
<a class="agent-instructions" href="/agents.html" aria-label="AI agent instructions">
    AI agent instructions (html)
</a>
</nav>